

#pos-popup > article > table > tbody > tr:nth-child(1) > th:nth-child(5) {display: none;}
#pos-popup > article > table > tbody > tr:nth-child(1) > td:nth-child(6) {display: none;}
#pos-popup > article > table > tbody > tr:nth-child(1) > th:nth-child(4) {display: none;}
#pos-popup > article > table > tbody > tr:nth-child(1) > th:nth-child(3) {display: none;}
#pos-popup > article > table > tbody > tr:nth-child(2) {display: none;}
#pos-popup > article > table > tbody > tr:nth-child(3) {display: none;}

body.mobile #pos-popup .box.popup-contents table tr:nth-child(1) > th:nth-child(5) {display: none;}
body.mobile #pos-popup .box.popup-contents table tr:nth-child(1) > td:nth-child(6) {display: none;}
body.mobile #pos-popup .box.popup-contents table tr:nth-child(1) > td:nth-child(4) {display: none;}
body.mobile #pos-popup .box.popup-contents table tr:nth-child(1) > td:nth-child(3) {display: none;}
body.mobile #pos-popup .box.popup-contents table tr:nth-child(2) {display: none;}
body.mobile #pos-popup .box.popup-contents table tr:nth-child(3) {display: none;}

body.mobile #page-sidebar {
    background-image: url('https://phpubbucket1.s3.amazonaws.com/KornitX.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 70%;
}

body.mobile #image-areas-container .expando-in,
body.mobile #sizes-container .expando-in {
    height: 47px !important;
}

#mobile-header {
    display: none;
}

body.mobile .popup .popup-contents .close {
    border-radius: 0;
}

body.mobile .aspect div {
    text-align: center;
}

body.mobile .popup .popup-contents .inner > div:nth-child(2) {
    text-align: center;
}

#image-areas-container .styled-select {
    display: none;
}

body.mobile .gallery-image {
    width: 30%;
    height: auto;
}

#a2c-container {
    display: none;
}

@media only screen and (min-width: 768px) {
    #a2c-container {
        display: block;
    }
    #pos-popup .box.popup-contents table tr:nth-child(1) > td:nth-child(4) {
        display: none;
    }
}
